.Activities-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #FAF8F1;
}
.Form-container{
  background-color: #D6E4E5;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .Activities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
@media screen and (max-width: 600px) {
  .Activities-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}